@media screen and (min-width: 0px) {
    html {
        box-sizing: border-box;
        margin: 0;
        height: 100%;
        background-color: #F2F2F8;
        --pagePadding: 1.5rem;
        --sectionMargin: 2rem;
        --flexGap: 2rem;
        --cardPadding: 2rem;
        --navHeight: 5.8125rem;
        --sideNavWidth: 18.375rem;
        --topNavHeight: 7.75rem;
        --mobileNavLinks: 12rem;
    }

    .dotLoader {
        margin-left: auto;
        margin-right: auto;
    }

    #dashboard .nav-links>a:nth-child(1) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #employees .nav-links>a:nth-child(2) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #payroll .nav-links>a:nth-child(3) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #setup .nav-links>.setup p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #summary .nav-links .sub-item>li:nth-child(1) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #variance .nav-links .sub-item>li:nth-child(2) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #generalreport .nav-links .sub-item>li:nth-child(3) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #paye .nav-links .sub-item>li:nth-child(4) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    #pension .nav-links .sub-item>li:nth-child(5) p {
        color: rgba(255, 255, 255, 0.57) !important;
    }

    * {
        /* outline: 1px red solid; */
    }
}

@media screen and (min-width: 425px) {
    html {
        --pagePadding: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    html {
        --pagePadding: 4rem;
    }
}